@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

.front-page {
  width:100%;
  height: 100vh;
  background-image: url('https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/15.jpg');
  background-size: cover;
  display: grid;
  place-items: center;
}

.intro-card {
  color:white;
  width: 35%;
  padding: 15px;
  text-align: left;
  border-radius: 12px;
  font-size: xx-large;
}

.content {
  width: 100%;
  height: 100vh;
  display:grid;
  place-items: center;
}

.contact {
  color: white;
  padding: 10px;
  height: 100vh;
}

.main-card-component {
  width: 100%;
}

.main-card-content {
  padding: 45px;
  width: 90%;
  height: 90%;
  font-size: xx-large;
}

.main-card-buttons {
  margin-top: 5%;
  display:flex;
  justify-content: center;
  gap: 15px;
}

.main-card-buttons > button {
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-color: #00000000;
  border-radius: 12px;
}

.commission-card-button {
  background-color: #EEF1EF;
  padding:15px;
  border-radius: 15px;
  border:none;
}

.main-card {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 65%;
  background-color: #7D98A1;
  border-radius: 12px;
  display:grid;
  place-items: center;
  color:white;
}

.footer-content {
  padding-left: 10rem;
  color: white;
  
}

.information {
  font-size: 1.25rem;
}

.contact-form {
  display: grid;
  width: 25%;
  gap: 25px;
}

textarea {
  resize: none;
  height: 22rem;
  border-radius: 5px;
  padding: 15px;
}

input {
  padding: 15px;
  border-radius: 5px;
  border:none;
}

.contact-form > button {
  padding:15px;
  border-radius: 15px;
  border:none;
}